.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
bin/*
!transferFunction*
!/bin/keratin_augsep_isoscape.tif
!/bin/iso_se_augsep.tif
docs/
.Rprofile
out/continuous_maps/
test/
out/OddsProbabilityMaps*
out/normalizedProbabilityMaps*
R/test*
figs/example*
ms/
*.pdf
figs/*
!/figs/LikelyOrigins_distDir4.png
!figs/LikelyOrigins_GCRF.png
!figs/distDIR-feathers_species.png
!figs/SI_*
!figs/fig_2.png
R/*presentationFigs.R
R/archive/
